.DS_Store

# .NET build output
bin/
obj/
.idea/.idea.BS-PMC-26-Team14.dir/.idea/encodings.xml
.idea/.idea.BS-PMC-26-Team14.dir/.idea/indexLayout.xml
.idea/.idea.BS-PMC-26-Team14.dir/.idea/vcs.xml
/CityFix.Api/.idea
CityFix.Api/appsettings.Development.json
CityFix.Api/appsettings.Development.json
CityFix.Api/appsettings.json
